.user-contents-rows-trader{
  background-color: blanchedalmond;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: scroll;
  justify-content: center;
  align-items: flex-start;
}

.user-containers-trader{
  background-color: #ffff;
  width: 60%;
  height: 50%;
  min-height: 1400px;
  min-width: 500px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightsteelblue;
  align-items: center;
  justify-content: center;
}

/* .new-personal{
  min-width: 250px;

} */

.user-containers-trader>h2{
  font-size: x-large;
  margin-top: 30px;
}

.field{
  width: 250px;
  margin-top: 15px;
}

.field-in{
  min-width: 250px;
  max-width: 250px;
}

.actions{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.signup-footer{
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.signup-btn{
  background-color: royalblue;
  padding: 5px;
  margin: 5px;
  color: #ffff;
}

.delete-mypage{
  margin-top: 15px;
}

.delete-mypage-btn{
  background-color: lightsteelblue;
  padding: 5px;
  color: black;
  margin-top: 10px;
  border: 1px solid #ffff;
}

.field>select{
  width: 250px;
}