.my-page-in{
  width: 80%;
  min-width: 250px;
  min-height: 1000px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightsteelblue;
  margin-top: 50px;
}

.my-page-in>h2{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: x-large;
}

.contents-all-cat{
  margin-top: 50px;
}

.trader-favorite{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.trader-name-center{
  font-size: x-large;
}

.cat-name-center{
  display: flex;
  justify-content: center;
}

.choice{
  display: flex;
  justify-content: space-around;
}

.choice-or{
  margin-top: 10px;
}

.trader-one-cat{
  width: 200px;
  height: 250px;
  position: relative;
  margin-top: 30px;
}

.trader-family-done{
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  background-color: royalblue;
  transform: skewY(-10deg);
}


.trader-family-done>span {
  color: #FFF;
  font-size: 16px;
  font: bold;
}
