/* .trader-contents_row{
  display: flex;
} */

/* .trader-content_post{
  position: relative;
 
} */

.trader-one_cat{
  width: 200px;
  height: 250px;
  position: relative;
}

.trader-cat-image{
  width: 200px;
  height: 200px;

}

.trader-family-done {
  position: absolute;
  top: 50%;
  width: 200px;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.trader-family-done>span {
  color: #FFF;
  font-size: 20px;
  font: bold;
}