.contents-show{
  background-color: blanchedalmond;
  height: 110vh;
  width: 120%;
  display: flex;
  justify-content: center;
}

.content{
  background-color: #ffff;
  width: 80%;
  height: 1180px;
  min-height: 1000px;
  min-width: 900px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightsteelblue;
}

.content>h3{
  font-size: xx-large;
  margin-bottom: 30px;
  margin-top: 30px;
}

.content-all{
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.list{
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  margin: 15px;
}

.indispensable{
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.list-2>select{
  padding-right: 254px;
}

.list-3{
  padding: 5px;
  width: 680px;
  min-height: 250px;
  font-size: 16px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.list-4>select{
  padding-right: 302.50px;
}

.list-5>select{
  padding-right: 318.75px;
}
.list-6>select{
  padding-right: 178.75px;
}
.list-7>select{
  padding-right: 286.25px;
}
.list-8>select{
  padding-right: 286.25px;
}
.list-9>select{
  padding-right: 286.25px;
}
.list-10>input{
  width: 359.98px;
}
.list-11>select{
  padding-right: 30px;
}
.list-12>select{
  padding-right: 286.23px;
}
.list-13>select{
  padding-right: 192.5px;
}
.list-14>select{
  padding-right: 254.98px;
}
.list-15>select{
  padding-right: 270px;
}
.list-16>select{
  padding-right: 302.5px;
}
.list-17>select{
  padding-right: 302.5px;
}

.list-center{
  display: flex;
  justify-content: center;
  min-width: 500px;
  margin: 15px;
}

.list-18{
}

.list-18>input{
  font: bold;
  font-size: large;
  background-color: royalblue;
  color: #ffff;
  padding: 5px 76.01px;
}