.swiper-container {
  width: 100%;
  height: 450px;
}

/* 全体のスタイル */
.swiper-wrapper {
	width: 80%;
	height: 450px;
}
/* 全スライド共通スタイル */
.swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 450px;
	text-align: center;
	line-height: 450px;
}
/* 4の倍数＋1枚目のスライドのスタイル（1枚目、5枚目…） */
/* .swiper-slide:nth-child(4n+1) {
	background-color: #EECB27;
} */
/* 4の倍数＋2枚目のスライドのスタイル（2枚目、6枚目…） */
/* .swiper-slide:nth-child(4n+2) {
	background-color: #E13239;
} */
/* 4の倍数＋3枚目のスライドのスタイル（3枚目、7枚目…） */
/* .swiper-slide:nth-child(4n+3) {
	background-color: #1F1762;
} */
/* 4の倍数＋4枚目のスライドのスタイル（4枚目、8枚目…） */
/* .swiper-slide:nth-child(4n+4) {
	background-color: #BEDAE5;
} */

.family-top-base{
  display: flex;
  justify-content: center;
  background-color: #ffebcd;
  margin: 30px;
}

.family-top-base-pic{
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  position: relative;
}


.family-top-base-info{
  display: flex;
  flex-direction: column;
  /* height: 450px; */
  width: 350px;
  background-color: #ffff;
  /* align-items: center; */
}

.family-top-info{
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bold;
  color: royalblue;
  /* height: 220px; */
  padding-top: 160px;
}

.family-top-info2{
  display: flex;
  flex-direction: column;
  font-size: x-large;
  color: black;
}