.video{
  width: 60%;
  height: 40%;
}

.contents_row{
  display: flex;
}

.content_post{
  width: 200px;
}

.one_cat{
  width: 200px;
  height: 250px;
  position: relative;
}

.cat-image{
  width: 200px;
  height: 200px;
}

.family-done {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.family-done>span {
  color: #FFF;
  font-size: 20px;
  font: bold;
}