.main{
  width: 100%;
  height: 150vh;
  position: relative;
  background-color: blanchedalmond;
  overflow: scroll;
}

.movie{
  width: 100%;
  height:40vh;
  background-color: blanchedalmond;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.movie>p {
  font-weight: bold;
}

.video_flame{
  height: 38vh;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video{
  width: 60%;
  height: 38vh;
}

.contents{
  display: flex;
  flex-direction: column;
  background-color: #ffff;
}

.contents-name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.contents-name-center{
  font-weight: bold;
  font-size: x-large;
}

.contents-all{
  border: 10px solid lightsteelblue;
}

.contents_row{
  display: flex;
  background-color: #ffff;
  padding: 10px 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.content_post{
  width: 210px;
  padding: 10px 10px;
}

.one_cat{
  width: 200px;
  height: 250px;
  position: relative;
}

.cat-image{
  width: 200px;
  height: 200px;
}

.family-done {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.family-done>span {
  color: #FFF;
  font-size: 20px;
  font: bold;
}