.main{
  width: 100%;
  height: 120vh;
  /* position: relative; */
  background-color: blanchedalmond;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* .movie{
  width: 100%;
  min-height:40vh;
  background-color: blanchedalmond;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.movie>p {
  font-weight: bold;
}

.video_flame{
  min-height: 320px;
  min-width: 570px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff;
  border: 1px solid lightsteelblue;
  width: 80%;
  min-width: 1050px;
}

.contents-name{
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 30px;
}

.contents-name-center{
  font-size: xx-large;
}

.contents-all{
  width: 100%;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
}

.contents_row{
  display: flex;
  background-color: #ffff;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.content_post{
  width: 210px;
  padding: 10px 10px;
}

.one_cat{
  width: 200px;
  height: 250px;
  position: relative;
}

.cat-image{
  width: 200px;
  height: 200px;
}

.family-done {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  background-color: royalblue;
  transform: skewY(-10deg);
}

.family-done>span {
  color: #FFF;
  font-size: 20px;
  font: bold;
}
 
.favorite-mark {
  position: absolute;
  bottom: 15%;
  left: 78%;
  width: 20%;
  text-align: center;
}


.cat-name-center{
  display: flex;
  justify-content: center;
  color: black;
}