.item-show{
  display: flex;
  background-color: blanchedalmond;
  justify-content: center;
  height: 130vh;
  width: 100%;
  min-height: 600px;
  overflow: scroll;
}

.item-box{
  background-color: #ffff;
  height: 100vh;
  width: 80%;
  min-width: 560px;
  min-height: 2550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightsteelblue;
  flex-wrap: wrap;
  position: relative;
}

.show-one-cat{
  height: 130vh;
  width: 80%;
  min-width: 560px;
  min-height: 1800px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.show-cat-scroll{
  max-height: 510px;
  max-width: 510px;
  min-width: 510px;
  min-height: 510px;
  overflow-x:scroll;
  overflow-y:hidden;
  display: flex;
  background-color: #ffff;
  position: relative;
}

.show-cat-image{
  min-height: 510px;
  min-width: 510px;
  margin: 1px;
}

.show-pictures{
  height: 50px;
  width: 510px;
  min-width: 510px;
  display: flex;
  justify-content: flex-end; 
}

.show-cat-pictures{
  display: flex;
  justify-content: flex-end; 
}

.show-cat-pictures>p{
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
  display: flex;
  background-color: #ffff;
  position: relative;
}

.show-cat-images{
  min-height: 50px;
  min-width: 50px;
  margin: 3px;
}

.show-family-done {
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.show-family-done>span {
  color: #FFF;
  font-size: 20px;
  font: bold;
}

.btn{
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin-top: 30px;
}

.or-text{
  padding-top: 10px;
}

.item-red-btn{
  background-color: royalblue;
  padding: 5px;
  margin: 5px;
  color: #ffff;
}

.item-destroy{
  background-color: palevioletred;
  padding: 5px;
  margin: 5px;
  color: #ffff;
}

.item-blue-btn{
  background-color: royalblue;
  padding: 5px;
  margin: 5px;
  color: #ffff;
}

.name{
  font-size: x-large;
  margin-top: 30px;
}

.table-twin{
  display: flex;
  margin-top: 15px;
}

.detail-table{
  margin: 10px;
}

.detail-item{
  padding: 5px;
  border: 1px solid lightsteelblue;
}

.detail-value{
  padding: 5px;
  border: 1px solid lightsteelblue;
}

.detail-table-under{
  margin-top: 15px;
  display: flex;
}

.detail-item-under{
  padding: 5px;
  max-width: 680px;
  min-width: 480px;
  border: 1px solid lightsteelblue;
}

.detail-value-under{
  padding: 5px;
  max-width: 680px;
  min-width: 480px;
  min-height: 250px;
  border: 1px solid lightsteelblue;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.comment-center>form{
  display: flex;
  flex-direction: column;
}

.comment-form{
  width: 480px;
  height: 100px;
}


.comment-container{
  margin-top: 20px;
  padding: 5px;
  max-width: 500px;
  min-width: 480px;
  border: 1px solid lightsteelblue;
  
}

.comment-scroll{
  max-height: 800px;
  overflow: scroll;
}

.comment-scroll>p>strong{
  margin: 5px 0 5px 0;
}

.comment-scroll>p{
  border: 1px solid lightsalmon;
  margin: 10px;
  padding: 5px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}