.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: blanchedalmond;
}

.title{
  height: 50px;
  width: 100%;
}

.title-link{
  width: 460px;
}

.title-jump{
  display: flex;
}

.title-name{
  width: 390px;
  font-size: x-large;
  color: royalblue;
  font-weight: bold;
}

.icon{
  height: 30px;
  width: 35px;
}

.user-menu{
  justify-content: center;
  background-color: blanchedalmond;
  font-weight: bold;
  height: 75px;
  width: 100%;
}

.header-bar-row{
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.search{
  background-color: #ffff;
  width: 25%;
  height: 50px;
  border: 0.5px solid lightsteelblue;
  color: royalblue;
  font-weight: bold;
  padding: 13px 10%;
}

.favorite{
  background-color: #ffff;
  width: 25%;
  height: 50px;
  border: 0.5px solid lightsteelblue;
  color: royalblue;
  font-weight: bold;
  padding: 13px 5%;
}

.cat-registration{
  width: 25%;
  height: 50px;
  color: royalblue;
  font-weight: bold;
  padding: 13px 10%;
}

.grid{
  background-color: royalblue;
  height: 50px;
  width: 50%;
  font-weight: bold;
  display: flex;
  justify-content: left;
}

.login{
  width: 50%;
  height: 50px;
  color: #ffff;
  text-decoration: none;
  border: 0.5px solid lightsteelblue;
  padding: 13px 18%;
}