.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: blanchedalmond;
}

.title{
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title-link{
  width: 600px;
}

.trader-link{
  width: 50%;
}

.title-jump{
  display: flex;
}

.title-name{
  width: 600px;
  font-size: xx-large;
  color: royalblue;
  font-weight: bold;
}

.icon{
  height: 30px;
  width: 35px;
}

/* .user-menu{
  justify-content: center;
  display: flex;
  background-color: blanchedalmond;
  font-weight: bold;
  height: 75px;
  width: 100%;
} */

.user-menu>ul {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #ffff;
  height: 50px;
}

.user-menu>ul>li {
  width: 50%;
  height: 50px;
  /* padding: 13px 13px; */
  /* color: royalblue; */
  /* border: 0.5px solid lightsteelblue; */
  /* font-weight: bold; */
  /* text-decoration: none; */
}

/* .header-bar-row>li{
  width: 50%;
  padding: 13px 13px;
  background-color: royalblue;
  border: 0.5px solid lightsteelblue;
  font-weight: bold;
  text-decoration: none;
}

.login2{
  display: flex;
  justify-content: center;
  color: #ffff;
  font-weight: bold;
  text-decoration: none;
}
.login3{
  display: flex;
  justify-content: center;
  color: aqua;
  font-weight: bold;
  text-decoration: none;
} */

.header-bar-row{
  display: flex;
  justify-content: center;
  background-color: royalblue;
}

.favorite{
  height: 50px;
  color: royalblue;
  border: 0.5px solid lightsteelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  text-decoration: none;
  font-weight: bold;
  color: royalblue;
}

.cat-registration{
  display: flex;
  justify-content: center;
  background-color: #ffff;
}

.alert {
  display: block;
  background-color: royalblue;
  font-size: 14px;
  text-align: center;
  padding: 12px;
  color: #ffff;
  font-weight: bold;
}