<% if model.errors.any? %>
<div class="error-alert">
  <div>
    <% model.errors.full_messages.each do |message| %>
    <div class='error-message'><%= message %></div>
    <% end %>
  </div>
</div>
<% end %>