
<div class="family-top-base-pic">  
  <img src="/assets/1.jpg"  width="700" height="450" >
  <div class="family-top-base-info">
    <div class="family-top-info">初めて使う方へ</div>
    <div class="family-top-info2">使い方説明</div>
  </div>
  <div class="family-top-base-buttun">
    <input type="button" value="◀︎" onclick="go_back()" class="mypic-arrow" >
    <input type="button" value="▶︎" onclick="go_forward()" class="mypic-arrow" >
  </div>
</div>