<%= render "shared/header" %>

<div class="contents-show">
  <div class="content">
    <h3>ぴったり猫占い</h3>
    <div class="content-all">
    現在メンテナンス中です。
    </div>
    <%= link_to "戻る", root_path, class:"link-login" %>
  </div>
</div>

<%= render "shared/footer"%>