<div class="entry-content">
<p>猫と一緒に暮らすときに必要なものとは。猫を迎えるにあたって初日に必ず用意しておくべきグッズや家の中の準備、心構えなどについてもご紹介します。</p>
<p><img src="/assets/グリーン.png" width="740" height="524"></p>
<h2><span id="i">初日までの準備　－グッズ編－</span></h2>
<p>猫を迎えるまでに必要なものをご紹介します。</p>
<p>最低限、以下のものは用意しておきましょう。</p>
<ul>
<li><strong>キャットフード</strong></li>
<li><strong>猫用食器</strong></li>
<li><strong>トイレ</strong></li>
<li><strong>猫砂</strong></li>
</ul>

<h3>食事の準備</h3>
<p><img loading="lazy" class="alignnone size-full wp-image-382" src="https://www.anicom-sompo.co.jp/nekonoshiori/wp-content/uploads/2018/02/kaikata_2.jpg" alt="猫が食事をしているときの様子" width="740" height="524" srcset="https://www.anicom-sompo.co.jp/nekonoshiori/wp-content/uploads/2018/02/kaikata_2.jpg 740w, https://www.anicom-sompo.co.jp/nekonoshiori/wp-content/uploads/2018/02/kaikata_2-300x212.jpg 300w" sizes="(max-width: 740px) 100vw, 740px"></p>
<p>猫は完全な肉食動物なので、健康を維持するために必要な栄養のバランスが、ヒトとも犬とも異なります。猫にとって必要な栄養がバランス良く含まれた食事を与えましょう。たいていの飼い主は、猫に必要な栄養素が含まれている市販の総合栄養食（キャットフード）などをライフステージ（成長段階）に合わせて与えています。</p>
<p>新鮮なお水は猫の健康維持にとって、とても重要なので、いつでも飲めるように用意してあげましょう。</p>
<p>食器は、フード用と飲み水用の、2種類の食器を用意します。猫がフードや水をこぼしてしまわないように、食器は安定感のあるものを選びましょう。また、食器の下にランチョンマットを敷くと、食べこぼしてもすぐに片付けられて便利です。</p>

<h3>トイレの準備</h3>
<p><img src="/assets/トイレ.jpg" width="740" height="524"></p>
<p>猫のトイレは、一般的にトイレ本体と「猫砂」と呼ばれる砂をセットにして使います。トイレ本体には、ノーマルタイプの他に、システムトイレやおまるなどがあります。</p>
<p>砂の種類は大きな粒から小さな粒まで何種類かあり、素材もさまざまです。いくつか試してみて、自分が飼っている猫の好みを確認しましょう。</p>
<p>システムトイレは、猫砂とボード状になったシートの二段式になっているものです。おしっこが一段目の猫砂を通過して二段目のボードに染みこむので、猫砂の汚れが少なく、衛生面で安心できるタイプといえます。</p>

<h3>寝床の準備</h3>
<p><img src="/assets/寝床.jpg" width="740" height="524"></p>
<p>次に寝床についてですが、生後2ヶ月未満の子猫は、ケージの中で過ごさせるのがいちばん安全です。ケージの中に猫用ベッドを設置してあげましょう。<br>
生後2ヶ月以上経っても、ひとりにさせるのが心配な場合は、飼い主が就寝中のときだけ、ケージの中に入れてあげるとよいでしょう。</p>
<p>大きくなると、猫によっては飼い主と一緒に寝る子もいます。冬はお互いがゆたんぽ代わりになるので、寒さも忘れてしまうしあわせなひとときが味わえます。ひとりで寝るのが好きな子には、落ち着いて休めるよう、明るすぎない場所にベッドを用意してあげましょう。</p>

<h3>併せてそろえておきたいもの</h3>
<ul>
<li><strong>キャリーバッグ</strong></li>
<p>病院に行くときや一緒に外出をするときにはキャリーバッグに入れて移動します。猫の身体の大きさに合ったサイズのキャリーバッグを選んであげましょう。万が一、災害にあった場合でも、避難をする際に必要となるので、ひとつは用意しておきましょう。</p>
<p>また、猫にも性格の違いがあり、人なつこい子もいれば、人見知りな子もいます。人見知りな子は、知らない人に会うことがストレスになるので、自宅に来客があるときは、あらかじめキャリーバッグにいれておいてあげるとよいでしょう。</p>
<li><strong>グルーミング用品</strong></li>
<p>グルーミングは、猫の毛球症や皮膚病予防のために行いたいケアのひとつ。小さな頃からグルーミングに慣れさせておくことが大切なので、まずはブラシやコームを用意して、遊びの中で慣れさせてあげましょう。</p>
<li><strong>爪とぎ</strong></li>
<p>爪とぎには、カーペット、ダンボール、麻、木など、いろいろな種類があるので好みのものを見つけてあげましょう。市販のものを購入してもよいですし、飼い主が手作りしてもよいかもしれません。</p>
<li><strong>おもちゃ</strong></li>
<p>好奇心旺盛で遊び好きの猫は、遊び道具のおもちゃが必需品です。追いかけたり、噛んだり、さまざまな種類のおもちゃが市販されているので、好みのおもちゃをいくつか選んであげましょう。</p>
<li><strong>キャットタワー</strong></li>
<p>また、猫は上下運動を好むので、必要に応じてキャットタワーを用意してあげるのもいいでしょう。ただ、キャットタワーを用意してあげるのは、ある程度高いところに安心して上り下りできるようになってからにしましょう。高いところに登れても、落下する危険性があると思われる時期には、キャットタワーの設置は控えるようにしましょう。</p>
</ul>

<h2><span id="i-2">初日までの準備　－お部屋編－</span></h2>
<p><img src="/assets/部屋.jpg" width="740" height="524"></p>
<p>一緒に暮らす猫が快適に過ごせるよう、室内の環境を整えてあげましょう。何気ないものが猫にとってはとても危険だったりします。猫を守るための対策をご紹介します。また、猫の習性でもある爪とぎ対策についてもお話します。お気に入りの家具など、傷つけられたくないものは事前に工夫をしてきましょう。</p>
<h3>危ないものを置かない</h3>
<p>猫は思ってもいないものをおもちゃにして遊んだり、口にしたりします。たとえば電源コードは、猫がかじって遊ぶことが多いもののひとつです。かじっているうちに感電する危険があるので、コードカバーなどでコードを覆ってしまうなど、工夫をしましょう。</p>
<p>ビニール袋が好きな子もいます。かじっているうちに、食べてしまうこともあります。消化できないものを食べると、腸を傷つけることがあるので、口にして危ないと思う物は、棚の中にしまうなど、猫の生活圏に放置しないことが大切です。</p>

<h3>部屋を傷つけないために</h3>
<p>猫には爪をとぐ習性があります。市販の爪とぎで満足する子もいれば、部屋の壁やドア、ふすま、ソファが好みの猫もいます。市販の爪とぎには目もくれず、革張りのソファをガリガリしたり、お気に入りの壁紙を楽しそうにザクザク引き裂いたり。あくまでも猫の習性なので、「やめなさい！」と叱るよりも、飼い主側で防止策を考えておきたいもの。</p>
<p>まず、最初に考えたいのが次のように爪とぎの置き方などを工夫してみることです。</p>
<ul>
<li>家の中に数個所設置する。</li>
<li>猫の好みの材質のものにする（段ボール、麻、木など）。</li>
<li>爪とぎの向きを変えてみる（縦置き、横置き好みがある）。</li>
<li>床に直置きにするか、壁に立てかけるのか、好みを探ってみる。</li>
</ul>
<p>いずれを試してみても、どうしても爪とぎをしてほしくない場所にしてしまう場合は、爪とぎをさせたくない場所に「保護シート」を張ったり、「爪とぎ防止スプレー」を吹きかける方法があります。匂いを嫌ってスプレーをかけた箇所に近づかなくなるので、爪とぎ防止に役立ちます。</p>


<h2><span id="i-4">猫にも「しつけ」は必要？</span></h2>
<p><img src="/assets/しつけ.jpg" width="740" height="524"></p>
<p>猫にもしつけは必要なのでしょうか。犬にしつけはイメージがつきやすいですが、猫にしつけはイメージが付きにくい方も多いのでは？　そんな猫ですが、猫も一緒に暮らす上でしつけをすることは大切なことです。困った行動を事前にコントロールできるようになると一緒に生活がしやすくなりますよ。</p>
<ul>
<li><strong>提案型しつけの必要性</strong></li>
<p>ひとつ屋根の下で一緒に暮らすにあたって、猫に対して「こうして欲しいな」と思うことが出てくるものです。こんなとき、どうやって教えていけばいいのでしょうか？</p>
<p>孤高のハンターである猫に、お互いにコミュニケーションを取りながら、人間と暮らすためのルールを教えるという犬流のしつけをすることは至難の業です。猫に「こうしたらどう？」という提案をうまくして、猫が望ましい行動をできるように仕向けていきましょう。</p>
<p>たとえば、「粗相をしないように使いやすいトイレを用意する」、「猫が戸惑わないように環境を一定にする」、「あちこちで爪をとがないようにあらかじめ好みに合いそうな爪とぎを何か所かに置いておく」など…。また、キャリーバッグに入る習慣をつけたいのであれば、さりげなく部屋の隅に置いておき、自分から入って探索をしたり、くつろぐように仕向けてあげるとよいでしょう。</p>
<li><strong>小さな頃にいろいろなモノやヒトを見せてあげる</strong></li>
<p>猫が社会化を迎える生後2週から7週の間に楽しい体験をたくさんさせてあげると、大きくなってから周りの環境に馴染みやすい猫になるといわれています。</p>
<li><strong>名前を呼ぶ</strong></li>
<p>猫の注意をひくときや食事のときには猫の名前を呼んであげましょう。猫が飼い主のほうにやってきたら、ご褒美をあげたり、大好きなおもちゃなどで遊んであげましょう。名前が呼ばれたらいいことがあると覚えてくれます。</p>
<p>反対に大きな声や強い口調で呼ぶのは禁物です。もちろん叱るときに名前を呼ぶのはやめましょう。</p>
</ul>

<h2><span id="i-6">猫と暮らす上で気を付けたいポイント　－住環境編－</span></h2>
<p><img src="/assets/脱走.jpg" width="740" height="524"></p>
<h3>マンションでの飼い方</h3>
<p>マンションで猫を飼うときに何より注意しなければならないのは、近隣住民へ迷惑をかけないことでしょう。たとえば、部屋の中に毛が落ちるからといって、ベランダでブラッシングするのはやめましょう。</p>
<p>また、猫は基本的に夜行性なので、夜中に元気よく駆け回ることがあります。下層階に住人がいる場合は、騒音にならないように工夫をすることが大事です。「脱走」にも注意が必要です。玄関に脱走防止のゲートを置いたり、ベランダのサッシを全開するときはケージに入れてあげるなど、外に出ないように飼い主が気をつけてあげるようにしましょう。</p>
<h3>一人暮らしでの飼い方</h3>
<p>一人暮らしの方が猫を飼う場合、仕事や通学のために猫だけで留守番をさせる機会が多いかもしれませんが、その際は猫が留守番中に事故に合わないよう、気をつけましょう。</p>
<p>猫は好奇心が強く、悪気はなくても危険な場所に近寄ったり、触れてはいけないものにイタズラをするかもしれません。猫だけを置いて家を空ける際は、近寄ってほしくない場所はドアを締めきったり柵を立てたり、誤飲や怪我につながりそうなものは出しっぱなしにせず猫の手の届かない場所にしまうなど、工夫してあげてください。</p>

<h2><span id="i-7">猫を飼って困ったこと</span></h2>
<p><img loading="lazy" class="alignnone size-full wp-image-381" src="https://www.anicom-sompo.co.jp/nekonoshiori/wp-content/uploads/2018/02/kaikata_3.jpg" alt="猫を飼って困ったことをイメージする画像" width="740" height="493" srcset="https://www.anicom-sompo.co.jp/nekonoshiori/wp-content/uploads/2018/02/kaikata_3.jpg 740w, https://www.anicom-sompo.co.jp/nekonoshiori/wp-content/uploads/2018/02/kaikata_3-300x200.jpg 300w" sizes="(max-width: 740px) 100vw, 740px"></p>
<p>猫の飼い主にとっての困りごとといえば、「家具や壁で爪とぎをしてしまう」ことが真っ先にあげられるでしょう。ただ、個体差があるので、市販の爪とぎにしか興味を示さない子もいます。爪とぎについては、前述したので、ここでは省きます。</p>
<p>もうひとつの困りごとは、洋服に抜け毛がついてしまうことではないでしょうか。長毛種で、毛色が白色の猫の場合は、とくに目立ってしまいます。抜け毛対策としては、まめにブラッシングをしてあげることですが、それでも抜け毛がまったくなくなることはないので、「コロコロ」を常備して、飼い主自身がこまめに抜け毛を取るようにするのが一番の得策でしょう。</p>

<h2><span id="i-8">こんな時は病院へ</span></h2>
<p><img src="/assets/doctor.jpg" width="740" height="524"></p>
<p>一緒に暮らしている猫の健康状態を見ることができるのは飼い主だけです。ブラッシングをしているとき、一緒に遊んでいるときなどに身体を触って、しこりがないか、痛がるところはないかなど、よく観察してあげましょう。</p>
<p>日頃からおしっこやうんちの状態を観察することも大切です。いつもと違って元気がない、食欲がない、おしっこやうんちの出がいつもと違うなど、「おかしいな」と思ったら、すぐに動物病院へ連れて行きましょう。早期発見・早期治療が肝心です。</p>
<h2><span id="i-9">病気になる前に…</span></h2>
<p>病気は、いつわが子の身にふりかかるかわかりません。万が一、病気になってしまっても、納得のいく治療をしてあげるために、ペット保険への加入を検討してみるのもよいかもしれません。<br>
