<div class="contents_row">
  <% @cats.each do |cat| %>
    <div class="content_post" >
      <div class="messages">
      <% cat.images.each do |image| %>
        <%= image_tag image, class:'cat-image' %>
      <% end %>
      </div>
      <%= cat.c_name %>
      <span class="name">
        <%= cat.c_text %>
      </span>
    </div>
  <% end %>
</div>