<div class="contents_row">
  <% @cats.each do |cat| %>
    <div class="content_post" >
    <%= link_to cat_path(cat) do %>
      <div class="one_cat">
      <% if cat.images.count > 0 %>
        <%= image_tag cat.images.first, class:'cat-image' %>
          <% if cat.family.present? %>
           <div class='family-done'>
              <span>家族ができました!!</span>
          </div>
          <% end  %>
      <% end %>
      <%= cat.c_name %>
      </div>
    <% end %>  
    </div>
  <% end %>
</div>
